!!! 5
%html
  %head
    %title= "www.rkmathi.net - cic12"
    %meta{ :content => "Ryuichi KAWAMATA", :name => "author" }
    %link{ :href => "/css/base.css", :rel => "stylesheet" }

  %body
    %header
      %h1
        %a{ :href => "http://www.rkmathi.net" }= "www.rkmathi.net"

    %section
      %article
        %h2= "cic12"

        %h2= "Lossless(Q0) png 122.4% (8,116 -> 9,932 KB) (diff only)"
        %a{ :href => "cic12-miku2-0.html" }= "Lossless png"
        %a{ :href => "cic12-miku2-1.html" }= "Lossy Lv.1 png"
        %a{ :href => "cic12-miku2-2.html" }= "Lossy Lv.2 png"
        %a{ :href => "cic12-miku2-3.html" }= "Lossy Lv.3 png"

        %hr

        %p
          %canvas{ :id => "c1", :width => 640, :height => "480"}
          :javascript
            window.addEventListener("load", function() {
              var canvas = document.getElementById('c1');
              if (canvas.getContext) {
                var ctx = canvas.getContext('2d');

                var img = new Array();
                var imgDat = new Array();
                var imgAry = [
                'MIKU2-Q0/00000581.png',
                'MIKU2-Q0/00000582.png',
                'MIKU2-Q0/00000583.png',
                'MIKU2-Q0/00000584.png',
                'MIKU2-Q0/00000585.png',
                'MIKU2-Q0/00000586.png',
                'MIKU2-Q0/00000587.png',
                'MIKU2-Q0/00000588.png',
                'MIKU2-Q0/00000589.png',
                'MIKU2-Q0/00000590.png',
                'MIKU2-Q0/00000591.png',
                'MIKU2-Q0/00000592.png',
                'MIKU2-Q0/00000593.png',
                'MIKU2-Q0/00000594.png',
                'MIKU2-Q0/00000595.png',
                'MIKU2-Q0/00000596.png',
                'MIKU2-Q0/00000597.png',
                'MIKU2-Q0/00000598.png',
                'MIKU2-Q0/00000599.png',
                'MIKU2-Q0/00000600.png',
                'MIKU2-Q0/00000601.png',
                'MIKU2-Q0/00000602.png',
                'MIKU2-Q0/00000603.png',
                'MIKU2-Q0/00000604.png',
                'MIKU2-Q0/00000605.png',
                'MIKU2-Q0/00000606.png',
                'MIKU2-Q0/00000607.png',
                'MIKU2-Q0/00000608.png',
                'MIKU2-Q0/00000609.png',
                'MIKU2-Q0/00000610.png',
                'MIKU2-Q0/00000611.png',
                'MIKU2-Q0/00000612.png',
                'MIKU2-Q0/00000613.png',
                'MIKU2-Q0/00000614.png',
                'MIKU2-Q0/00000615.png',
                'MIKU2-Q0/00000616.png',
                'MIKU2-Q0/00000617.png',
                'MIKU2-Q0/00000618.png',
                'MIKU2-Q0/00000619.png',
                'MIKU2-Q0/00000620.png',
                'MIKU2-Q0/00000621.png',
                'MIKU2-Q0/00000622.png',
                'MIKU2-Q0/00000623.png',
                'MIKU2-Q0/00000624.png',
                'MIKU2-Q0/00000625.png',
                'MIKU2-Q0/00000626.png',
                'MIKU2-Q0/00000627.png',
                'MIKU2-Q0/00000628.png',
                'MIKU2-Q0/00000629.png',
                'MIKU2-Q0/00000630.png',
                'MIKU2-Q0/00000631.png',
                'MIKU2-Q0/00000632.png',
                'MIKU2-Q0/00000633.png',
                'MIKU2-Q0/00000634.png',
                'MIKU2-Q0/00000635.png',
                'MIKU2-Q0/00000636.png',
                'MIKU2-Q0/00000637.png',
                'MIKU2-Q0/00000638.png',
                'MIKU2-Q0/00000639.png',
                'MIKU2-Q0/00000640.png',
                'MIKU2-Q0/00000641.png',
                'MIKU2-Q0/00000642.png',
                'MIKU2-Q0/00000643.png',
                'MIKU2-Q0/00000644.png',
                'MIKU2-Q0/00000645.png',
                'MIKU2-Q0/00000646.png',
                'MIKU2-Q0/00000647.png',
                'MIKU2-Q0/00000648.png',
                'MIKU2-Q0/00000649.png',
                'MIKU2-Q0/00000650.png',
                'MIKU2-Q0/00000651.png',
                'MIKU2-Q0/00000652.png',
                'MIKU2-Q0/00000653.png',
                'MIKU2-Q0/00000654.png',
                'MIKU2-Q0/00000655.png',
                'MIKU2-Q0/00000656.png',
                'MIKU2-Q0/00000657.png',
                'MIKU2-Q0/00000658.png',
                'MIKU2-Q0/00000659.png',
                'MIKU2-Q0/00000660.png',
                'MIKU2-Q0/00000661.png',
                'MIKU2-Q0/00000662.png',
                'MIKU2-Q0/00000663.png',
                'MIKU2-Q0/00000664.png',
                'MIKU2-Q0/00000665.png',
                'MIKU2-Q0/00000666.png',
                'MIKU2-Q0/00000667.png',
                'MIKU2-Q0/00000668.png',
                'MIKU2-Q0/00000669.png',
                'MIKU2-Q0/00000670.png',
                'MIKU2-Q0/00000671.png',
                'MIKU2-Q0/00000672.png',
                'MIKU2-Q0/00000673.png',
                'MIKU2-Q0/00000674.png',
                'MIKU2-Q0/00000675.png',
                'MIKU2-Q0/00000676.png',
                'MIKU2-Q0/00000677.png',
                'MIKU2-Q0/00000678.png',
                'MIKU2-Q0/00000679.png',
                'MIKU2-Q0/00000680.png',
                'MIKU2-Q0/00000681.png',
                'MIKU2-Q0/00000682.png',
                ];

                for (var i in imgAry) {
                  img[i] = new Image();
                  img[i].src = imgAry[i];
                }

                ctx.drawImage(img[0], 0, 0);
                imgDat[0] = ctx.getImageData(0, 0, img[0].width, img[0].height);
                for (var i in imgAry) {
                  if (i == 0) continue;
                  console.log(i);
                  ctx.putImageData(imgDat[i-1], 0, 0);
                  ctx.clearRect(0, 0, 640, 480);
                  ctx.drawImage(img[i], 0, 0);
                  imgDat[i] = ctx.getImageData(0, 0, img[0].width, img[0].height);
                }

                ctx.clearRect(0, 0, 640, 480);

                n = 0;
                setInterval(function() {
                  console.log(n);
                  ctx.clearRect(0, 0, 640, 480);
                  ctx.putImageData(imgDat[n], 0, 0);
                  (++n<imgDat.length) ? n : n=0;
                }, 50);
              }
            }, false);

        %hr

    %footer
      %p= "Copyright 2013 Ryuichi KAWAMATA"


