!!! 5
%html
  %head
    %title= "www.rkmathi.net - cic12"
    %meta{ :content => "Ryuichi KAWAMATA", :name => "author" }
    %link{ :href => "/css/base.css", :rel => "stylesheet" }

  %body
    %header
      %h1
        %a{ :href => "http://www.rkmathi.net" }= "www.rkmathi.net"

    %section
      %article
        %h2= "cic12"

        %h2= "Losssy png (Q512) 88.0% (15,704 -> 13,824 KB)"
        %a{ :href => "cic12-girl1.html" }= "Lossless"
        %a{ :href => "cic12-girl2.html" }= "Losssy png"
        %a{ :href => "cic12-girl2-d.html" }= "Losssy png (diff only)"

        %hr

        %p
          %canvas{ :id => "c1", :width => 640, :height => "480"}
          :javascript
            window.addEventListener("load", function() {
              var canvas = document.getElementById('c1');
              if (canvas.getContext) {
                var ctx = canvas.getContext('2d');

                var img = new Array();
                var imgDat = new Array();
                var imgAry = [
                  'ORIG_GIRL/200.png',
                  'ORIG_GIRL/200_.png',
                  'GIRL_/200-201.png',
                  'GIRL_/201-202.png',
                  'GIRL_/202-203.png',
                  'GIRL_/203-204.png',
                  'GIRL_/204-205.png',
                  'GIRL_/205-206.png',
                  'GIRL_/206-207.png',
                  'GIRL_/207-208.png',
                  'GIRL_/208-209.png',
                  'GIRL_/209-210.png',
                  'GIRL_/210-211.png',
                  'GIRL_/211-212.png',
                  'GIRL_/212-213.png',
                  'GIRL_/213-214.png',
                  'GIRL_/214-215.png',
                  'GIRL_/215-216.png',
                  'GIRL_/216-217.png',
                  'GIRL_/217-218.png',
                  'GIRL_/218-219.png',
                  'GIRL_/219-220.png',
                  'GIRL_/220-221.png',
                  'GIRL_/221-222.png',
                  'GIRL_/222-223.png',
                  'GIRL_/223-224.png',
                  'GIRL_/224-225.png',
                  'GIRL_/225-226.png',
                  'GIRL_/226-227.png',
                  'GIRL_/227-228.png',
                  'GIRL_/228-229.png',
                  'GIRL_/229-230.png',
                  'GIRL_/230-231.png',
                  'GIRL_/231-232.png',
                  'GIRL_/232-233.png',
                  'GIRL_/233-234.png',
                  'GIRL_/234-235.png',
                  'GIRL_/235-236.png',
                  'GIRL_/236-237.png',
                  'GIRL_/237-238.png',
                  'GIRL_/238-239.png',
                  'GIRL_/239-240.png',
                  'GIRL_/240-241.png',
                  'GIRL_/241-242.png',
                  'GIRL_/242-243.png',
                  'GIRL_/243-244.png',
                  'GIRL_/244-245.png',
                  'GIRL_/245-246.png',
                  'GIRL_/246-247.png',
                  'GIRL_/247-248.png',
                  'GIRL_/248-249.png',
                  'GIRL_/249-250.png',
                  'GIRL_/250-251.png',
                  'GIRL_/251-252.png',
                  'GIRL_/252-253.png',
                  'GIRL_/253-254.png',
                  'GIRL_/254-255.png',
                  'GIRL_/255-256.png',
                  'GIRL_/256-257.png',
                  'GIRL_/257-258.png',
                  'GIRL_/258-259.png',
                  'GIRL_/259-260.png',
                  'GIRL_/260-261.png',
                  'GIRL_/261-262.png',
                  'GIRL_/262-263.png',
                  'GIRL_/263-264.png',
                  'GIRL_/264-265.png',
                  'GIRL_/265-266.png',
                  'GIRL_/266-267.png',
                  'GIRL_/267-268.png',
                  'GIRL_/268-269.png',
                  'GIRL_/269-270.png',
                  'GIRL_/270-271.png',
                  'GIRL_/271-272.png',
                  'GIRL_/272-273.png',
                  'GIRL_/273-274.png',
                  'GIRL_/274-275.png',
                  'GIRL_/275-276.png',
                  'GIRL_/276-277.png',
                  'GIRL_/277-278.png',
                  'GIRL_/278-279.png',
                  'GIRL_/279-280.png',
                ];

                for (var i in imgAry) {
                  img[i] = new Image();
                  img[i].src = imgAry[i];
                }

                ctx.drawImage(img[0], 0, 0);
                imgDat[0] = ctx.getImageData(0, 0, img[0].width, img[0].height);
                for (var i in imgAry) {
                  if (i == 0) continue;
                  console.log(i);
                  ctx.clearRect(0, 0, 640, 480);
                  ctx.putImageData(imgDat[i-1], 0, 0);
                  ctx.drawImage(img[i], 0, 0);
                  imgDat[i] = ctx.getImageData(0, 0, img[0].width, img[0].height);
                }

                ctx.clearRect(0, 0, 640, 480);

                n = 0;
                setInterval(function() {
                  console.log(n);
                  ctx.clearRect(0, 0, 640, 480);
                  ctx.putImageData(imgDat[n], 0, 0);
                  (++n<imgDat.length) ? n : n=0;
                }, 50);
              }
            }, false);

        %hr

    %footer
      %p= "Copyright 2013 Ryuichi KAWAMATA"

