!!! 5
%html
  %head
    %title= "www.rkmathi.net - cic12"
    %meta{ :content => "Ryuichi KAWAMATA", :name => "author" }
    %link{ :href => "/css/base.css", :rel => "stylesheet" }

  %body
    %header
      %h1
        %a{ :href => "http://www.rkmathi.net" }= "www.rkmathi.net"

    %section
      %article
        %h2= "cic12"

        %h2= "Lossy Lv.2(Q128) 72.6% (4,052 -> 2948 KB)"
        %a{ :href => "cic12-miku1-0.html" }= "Lossless png"
        %a{ :href => "cic12-miku1-1.html" }= "Lossy Lv.1 png"
        %a{ :href => "cic12-miku1-2.html" }= "Lossy Lv.2 png"

        %hr

        %p
          %canvas{ :id => "c1", :width => 640, :height => "480"}
          :javascript
            window.addEventListener("load", function() {
              var canvas = document.getElementById('c1');
              if (canvas.getContext) {
                var ctx = canvas.getContext('2d');

                var img = new Array();
                var imgDat = new Array();
                var imgAry = [
                'MIKU1-ORIG/00000000.png',
                'MIKU1-Q128/00000000.png',
                'MIKU1-Q128/00000001.png',
                'MIKU1-Q128/00000002.png',
                'MIKU1-Q128/00000003.png',
                'MIKU1-Q128/00000004.png',
                'MIKU1-Q128/00000005.png',
                'MIKU1-Q128/00000006.png',
                'MIKU1-Q128/00000007.png',
                'MIKU1-Q128/00000008.png',
                'MIKU1-Q128/00000009.png',
                'MIKU1-Q128/00000010.png',
                'MIKU1-Q128/00000011.png',
                'MIKU1-Q128/00000012.png',
                'MIKU1-Q128/00000013.png',
                'MIKU1-Q128/00000014.png',
                'MIKU1-Q128/00000015.png',
                'MIKU1-Q128/00000016.png',
                'MIKU1-Q128/00000017.png',
                'MIKU1-Q128/00000018.png',
                'MIKU1-Q128/00000019.png',
                'MIKU1-Q128/00000020.png',
                'MIKU1-Q128/00000021.png',
                'MIKU1-Q128/00000022.png',
                'MIKU1-Q128/00000023.png',
                'MIKU1-Q128/00000024.png',
                'MIKU1-Q128/00000025.png',
                'MIKU1-Q128/00000026.png',
                'MIKU1-Q128/00000027.png',
                'MIKU1-Q128/00000028.png',
                'MIKU1-Q128/00000029.png',
                'MIKU1-Q128/00000030.png',
                'MIKU1-Q128/00000031.png',
                'MIKU1-Q128/00000032.png',
                'MIKU1-Q128/00000033.png',
                'MIKU1-Q128/00000034.png',
                'MIKU1-Q128/00000035.png',
                'MIKU1-Q128/00000036.png',
                'MIKU1-Q128/00000037.png',
                'MIKU1-Q128/00000038.png',
                'MIKU1-Q128/00000039.png',
                'MIKU1-Q128/00000040.png',
                'MIKU1-Q128/00000041.png',
                'MIKU1-Q128/00000042.png',
                'MIKU1-Q128/00000043.png',
                'MIKU1-Q128/00000044.png',
                ];

                for (var i in imgAry) {
                  img[i] = new Image();
                  img[i].src = imgAry[i];
                }

                ctx.drawImage(img[0], 0, 0);
                imgDat[0] = ctx.getImageData(0, 0, img[0].width, img[0].height);
                for (var i in imgAry) {
                  if (i == 0) continue;
                  console.log(i);
                  ctx.clearRect(0, 0, 640, 480);
                  ctx.putImageData(imgDat[i-1], 0, 0);
                  ctx.drawImage(img[i], 0, 0);
                  imgDat[i] = ctx.getImageData(0, 0, img[0].width, img[0].height);
                }

                ctx.clearRect(0, 0, 640, 480);

                n = 0;
                setInterval(function() {
                  console.log(n);
                  ctx.clearRect(0, 0, 640, 480);
                  ctx.putImageData(imgDat[n], 0, 0);
                  (++n<imgDat.length) ? n : n=0;
                }, 50);
              }
            }, false);

        %hr

    %footer
      %p= "Copyright 2013 Ryuichi KAWAMATA"

