!!! 5
%html
  %head
    %title= "www.rkmathi.net - cic12"
    %meta{ :content => "Ryuichi KAWAMATA", :name => "author" }
    %link{ :href => "/css/base.css", :rel => "stylesheet" }

  %body
    %header
      %h1
        %a{ :href => "http://www.rkmathi.net" }= "www.rkmathi.net"

    %section
      %article
        %h2= "cic12"

        %h2= "Lossless png 100.2% (15,704 -> 15,740 KB)"
        %a{ :href => "cic12-girl1.html" }= "Lossless"
        %a{ :href => "cic12-girl2.html" }= "Losssy png"

        %hr

        %p
          %canvas{ :id => "c1", :width => 640, :height => "480"}
          :javascript
            window.addEventListener("load", function() {
              var canvas = document.getElementById('c1');
              if (canvas.getContext) {
                var ctx = canvas.getContext('2d');

                var img = new Array();
                var imgDat = new Array();
                var imgAry = [
                  'ORIG_GIRL/200.png',
                  'ORIG_GIRL/200_.png',
                  'GIRL_Q0/200.png',
                  'GIRL_Q0/201.png',
                  'GIRL_Q0/202.png',
                  'GIRL_Q0/203.png',
                  'GIRL_Q0/204.png',
                  'GIRL_Q0/205.png',
                  'GIRL_Q0/206.png',
                  'GIRL_Q0/207.png',
                  'GIRL_Q0/208.png',
                  'GIRL_Q0/209.png',
                  'GIRL_Q0/210.png',
                  'GIRL_Q0/211.png',
                  'GIRL_Q0/212.png',
                  'GIRL_Q0/213.png',
                  'GIRL_Q0/214.png',
                  'GIRL_Q0/215.png',
                  'GIRL_Q0/216.png',
                  'GIRL_Q0/217.png',
                  'GIRL_Q0/218.png',
                  'GIRL_Q0/219.png',
                  'GIRL_Q0/220.png',
                  'GIRL_Q0/221.png',
                  'GIRL_Q0/222.png',
                  'GIRL_Q0/223.png',
                  'GIRL_Q0/224.png',
                  'GIRL_Q0/225.png',
                  'GIRL_Q0/226.png',
                  'GIRL_Q0/227.png',
                  'GIRL_Q0/228.png',
                  'GIRL_Q0/229.png',
                  'GIRL_Q0/230.png',
                  'GIRL_Q0/231.png',
                  'GIRL_Q0/232.png',
                  'GIRL_Q0/233.png',
                  'GIRL_Q0/234.png',
                  'GIRL_Q0/235.png',
                  'GIRL_Q0/236.png',
                  'GIRL_Q0/237.png',
                  'GIRL_Q0/238.png',
                  'GIRL_Q0/239.png',
                  'GIRL_Q0/240.png',
                  'GIRL_Q0/241.png',
                  'GIRL_Q0/242.png',
                  'GIRL_Q0/243.png',
                  'GIRL_Q0/244.png',
                  'GIRL_Q0/245.png',
                  'GIRL_Q0/246.png',
                  'GIRL_Q0/247.png',
                  'GIRL_Q0/248.png',
                  'GIRL_Q0/249.png',
                  'GIRL_Q0/250.png',
                  'GIRL_Q0/251.png',
                  'GIRL_Q0/252.png',
                  'GIRL_Q0/253.png',
                  'GIRL_Q0/254.png',
                  'GIRL_Q0/255.png',
                  'GIRL_Q0/256.png',
                  'GIRL_Q0/257.png',
                  'GIRL_Q0/258.png',
                  'GIRL_Q0/259.png',
                  'GIRL_Q0/260.png',
                  'GIRL_Q0/261.png',
                  'GIRL_Q0/262.png',
                  'GIRL_Q0/263.png',
                  'GIRL_Q0/264.png',
                  'GIRL_Q0/265.png',
                  'GIRL_Q0/266.png',
                  'GIRL_Q0/267.png',
                  'GIRL_Q0/268.png',
                  'GIRL_Q0/269.png',
                  'GIRL_Q0/270.png',
                  'GIRL_Q0/271.png',
                  'GIRL_Q0/272.png',
                  'GIRL_Q0/273.png',
                  'GIRL_Q0/274.png',
                  'GIRL_Q0/275.png',
                  'GIRL_Q0/276.png',
                  'GIRL_Q0/277.png',
                  'GIRL_Q0/278.png',
                  'GIRL_Q0/279.png',
                ];

                for (var i in imgAry) {
                  img[i] = new Image();
                  img[i].src = imgAry[i];
                }

                ctx.drawImage(img[0], 0, 0);
                imgDat[0] = ctx.getImageData(0, 0, img[0].width, img[0].height);
                for (var i in imgAry) {
                  if (i == 0) continue;
                  console.log(i);
                  ctx.clearRect(0, 0, 640, 480);
                  ctx.putImageData(imgDat[i-1], 0, 0);
                  ctx.drawImage(img[i], 0, 0);
                  imgDat[i] = ctx.getImageData(0, 0, img[0].width, img[0].height);
                }

                ctx.clearRect(0, 0, 640, 480);

                n = 0;
                setInterval(function() {
                  console.log(n);
                  ctx.clearRect(0, 0, 640, 480);
                  ctx.putImageData(imgDat[n], 0, 0);
                  (++n<imgDat.length) ? n : n=0;
                }, 50);
              }
            }, false);

        %hr

    %footer
      %p= "Copyright 2013 Ryuichi KAWAMATA"

