!!! 5
%html
  %head
    %title= "cic12"
    %meta{ :content => "Ryuichi KAWAMATA", :name => "author" }
    %link{ :href => "/css/base.css", :rel => "stylesheet" }

  %body
    %header
      %h1
        %a{ :href => "http://www.rkmathi.net" }= "www.rkmathi.net"

    %section
      %article
        %h3= "sample1"
        %p
          %li
            %a{ :href => "cic12-miku1-0.html" }= "Lossless png"
          %li
            %a{ :href => "cic12-miku1-0-d.html" }= "Lossless png (diff only)"
          %li
            %a{ :href => "cic12-miku1-1.html" }= "Lossy Lv.1 png"
          %li
            %a{ :href => "cic12-miku1-1-d.html" }= "Lossy Lv.1 png (diff only)"
          %li
            %a{ :href => "cic12-miku1-2.html" }= "Lossy Lv.2 png"
          %li
            %a{ :href => "cic12-miku1-2-d.html" }= "Lossy Lv.2 png (diff only)"

        %h3= "sample2"
        %p
          %li
            %a{ :href => "cic12-miku2-0.html" }= "Lossless png"
          %li
            %a{ :href => "cic12-miku2-0-d.html" }= "Lossless png (diff only)"
          %li
            %a{ :href => "cic12-miku2-1.html" }= "Lossy Lv.1 png"
          %li
            %a{ :href => "cic12-miku2-1-d.html" }= "Lossy Lv.1 png (diff only)"
          %li
            %a{ :href => "cic12-miku2-2.html" }= "Lossy Lv.2 png"
          %li
            %a{ :href => "cic12-miku2-2-d.html" }= "Lossy Lv.2 png (diff only)"
          %li
            %a{ :href => "cic12-miku2-3.html" }= "Lossy Lv.3 png"
          %li
            %a{ :href => "cic12-miku2-3-d.html" }= "Lossy Lv.3 png (diff only)"

        %h3= "sample3"
        %p
          %li
            %a{ :href => "cic12-girl1.html" }= "Lossless png"
          %li
            %a{ :href => "cic12-girl1-d.html" }= "Lossless png (diff only)"
          %li
            %a{ :href => "cic12-girl2.html" }= "Lossy png"
          %li
            %a{ :href => "cic12-girl2-d.html" }= "Lossy png (diff only)"

    %footer
      %p= "Copyright 2013 Ryuichi KAWAMATA"

