!!! 5
%html
  %head
    %title= "www.rkmathi.net - cic12"
    %meta{ :content => "Ryuichi KAWAMATA", :name => "author" }
    %link{ :href => "/css/base.css", :rel => "stylesheet" }

  %body
    %header
      %h1
        %a{ :href => "http://www.rkmathi.net" }= "www.rkmathi.net"

    %section
      %article
        %h2= "cic12"

        %h2= "Lossy Lv.1 png 101.2% (8,216 KB)"
        %a{ :href => "cic12-LL0.html" }= "Lossless png"
        %a{ :href => "cic12-LL1.html" }= "Lossy Lv.1 png"
        %a{ :href => "cic12-LL2.html" }= "Lossy Lv.2 png"

        %hr

        %p
          %canvas{ :id => "c1", :width => 640, :height => "480"}
          :javascript
            window.addEventListener("load", function() {
              var canvas = document.getElementById('c1');
              if (canvas.getContext) {
                var ctx = canvas.getContext('2d');

                var img = new Array();
                var imgDat = new Array();
                var imgAry = [
                'LL1/00000581.png',
                'LL1/000581_.png',
                'LL1/000582_.png',
                'LL1/000583_.png',
                'LL1/000584_.png',
                'LL1/000585_.png',
                'LL1/000586_.png',
                'LL1/000587_.png',
                'LL1/000588_.png',
                'LL1/000589_.png',
                'LL1/000590_.png',
                'LL1/000591_.png',
                'LL1/000592_.png',
                'LL1/000593_.png',
                'LL1/000594_.png',
                'LL1/000595_.png',
                'LL1/000596_.png',
                'LL1/000597_.png',
                'LL1/000598_.png',
                'LL1/000599_.png',
                'LL1/000600_.png',
                'LL1/000601_.png',
                'LL1/000602_.png',
                'LL1/000603_.png',
                'LL1/000604_.png',
                'LL1/000605_.png',
                'LL1/000606_.png',
                'LL1/000607_.png',
                'LL1/000608_.png',
                'LL1/000609_.png',
                'LL1/000610_.png',
                'LL1/000611_.png',
                'LL1/000612_.png',
                'LL1/000613_.png',
                'LL1/000614_.png',
                'LL1/000615_.png',
                'LL1/000616_.png',
                'LL1/000617_.png',
                'LL1/000618_.png',
                'LL1/000619_.png',
                'LL1/000620_.png',
                'LL1/000621_.png',
                'LL1/000622_.png',
                'LL1/000623_.png',
                'LL1/000624_.png',
                'LL1/000625_.png',
                'LL1/000626_.png',
                'LL1/000627_.png',
                'LL1/000628_.png',
                'LL1/000629_.png',
                'LL1/000630_.png',
                'LL1/000631_.png',
                'LL1/000632_.png',
                'LL1/000633_.png',
                'LL1/000634_.png',
                'LL1/000635_.png',
                'LL1/000636_.png',
                'LL1/000637_.png',
                'LL1/000638_.png',
                'LL1/000639_.png',
                'LL1/000640_.png',
                'LL1/000641_.png',
                'LL1/000642_.png',
                'LL1/000643_.png',
                'LL1/000644_.png',
                'LL1/000645_.png',
                'LL1/000646_.png',
                'LL1/000647_.png',
                'LL1/000648_.png',
                'LL1/000649_.png',
                'LL1/000650_.png',
                'LL1/000651_.png',
                'LL1/000652_.png',
                'LL1/000653_.png',
                'LL1/000654_.png',
                'LL1/000655_.png',
                'LL1/000656_.png',
                'LL1/000657_.png',
                'LL1/000658_.png',
                'LL1/000659_.png',
                'LL1/000660_.png',
                'LL1/000661_.png',
                'LL1/000662_.png',
                'LL1/000663_.png',
                'LL1/000664_.png',
                'LL1/000665_.png',
                'LL1/000666_.png',
                'LL1/000667_.png',
                'LL1/000668_.png',
                'LL1/000669_.png',
                'LL1/000670_.png',
                'LL1/000671_.png',
                'LL1/000672_.png',
                'LL1/000673_.png',
                'LL1/000674_.png',
                'LL1/000675_.png',
                'LL1/000676_.png',
                'LL1/000677_.png',
                'LL1/000678_.png',
                'LL1/000679_.png',
                ];

                for (var i in imgAry) {
                  img[i] = new Image();
                  img[i].src = imgAry[i];
                }

                ctx.drawImage(img[0], 0, 0);
                imgDat[0] = ctx.getImageData(0, 0, img[0].width, img[0].height);
                for (var i in imgAry) {
                  if (i == 0) continue;
                  console.log(i);
                  ctx.clearRect(0, 0, 640, 480);
                  ctx.putImageData(imgDat[i-1], 0, 0);
                  ctx.drawImage(img[i], 0, 0);
                  imgDat[i] = ctx.getImageData(0, 0, img[0].width, img[0].height);
                }

                ctx.clearRect(0, 0, 640, 480);

                n = 0;
                setInterval(function() {
                  console.log(n);
                  ctx.clearRect(0, 0, 640, 480);
                  ctx.putImageData(imgDat[n], 0, 0);
                  (++n<imgDat.length) ? n : n=0;
                }, 50);
              }
            }, false);

        %hr

    %footer
      %p= "Copyright 2013 Ryuichi KAWAMATA"

