!!! 5
%html
  %head
    %title= "www.rkmathi.net"
    %meta{ :content => "Ryuichi KAWAMATA", :name => "author" }
    %link{ :href => "/css/base.css", :rel => "stylesheet" }

  %body
    %header
      %h1
        %a{ :href => "http://www.rkmathi.net" }= "www.rkmathi.net"

    %section
      %article
        %h2= "links"
        %p
          %li
            %a{ :href => "/" }= "home"
          %li
            %a{ :href => "/cic12.html" }= "cic12"

    %footer
      %p= "Copyright 2013 Ryuichi KAWAMATA"
